<div class="jumbotron">
  <h1>Uh-Oh</h1>
  <p class="lead">
    Help is on the way.
  </p>
</div>

<div class="row marketing">
  <div class="form group">
    <form method="POST">
      <label for="campus">Campus</label>
      <select id="campus" default="Campus" class="form-control" ng-model="form.campus" ng-options="campus for campus in campuses"></select>
      <label for="room">Location</label>
      <select id="LRroom" class="form-control" ng-model="form.room" ng-show="form.campus=='Little Rock'" ng-options="room for room in LRrooms"></select>
      <select id="CBroom" class="form-control" ng-model="form.room" ng-show="form.campus=='Cabot'" ng-options="room for room in CBrooms"></select>
      <select id="BNroom" class="form-control" ng-model="form.room" ng-show="form.campus=='Benton'" ng-options="room for room in BNrooms"></select>

      <label for="name">Your Name</label>
      <input type="text" id="name" placeholder="Name" class="form-control" ng-model="form.name">
      <label for="contact">Phone Number or Email</label>
      <input type="text" id="contact" placeholder="How can we reach you?" class="form-control" ng-model="form.contact">
      <label for="textarea">Your Question</label>
      <textarea id="question" placeholder="Ask a clear, specific question here. For example, 'How do I get my PowerPoint slides into ProPresenter?'" class="form-control" ng-model="form.question"></textarea>
    </form>
  </div>
</div>
